
body{
    background: #F3F5FC;
    font-family: 'Roboto', sans-serif;
}
.conteiner{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.conteiner__logo{ 
    width: 10vw;
    text-align: center;
    padding-top: 2rem;
}

.conteiner__encrypt{
    width: 60vw;
    padding-top: 15vh;
    display: flex;
    justify-content: center;
}

.conteiner__encrypt .encrypt__message{ width: 75%; }

.encrypt__message textarea{
    box-sizing: border-box;
    width: 100%;
    resize: none;
    background: transparent;
    font-size: 2rem;
    height: 60vh;
    border: none;
}

textarea:focus{ outline: none; }

.encrypt__message .bottom{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    flex-direction: column;
}

.button{
    padding: 0.8rem;
    width: 100%;
    border-radius: 1rem;
    transition: border-color 250ms, background-color 250ms;
    
}

.conteiner__encrypt .buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.button:hover{ cursor: pointer; }

.button__encrypt{
    background-color: #0A3871;
    color: #fff;
    font-weight: 500;
}

.button__encrypt:hover{
    background-color: #164e93;
    border-color: #164e93;
}

.button__decrypt{
    background-color: #CED4DA;
    color: #0A3871;
    font-weight: 500;
    background: transparent;
}

.button__decrypt:hover,
.button__copy:hover{ background-color: #d8dfe8; }

.button__copy{
    background-color: transparent;
    color: #0A3871;
    font-weight: 500;
}

.conteiner__message{
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteiner__message .munieco{ width: 100%; }

.conteiner__message .message{
    background-color: #fff;
    border-radius: 1.5rem;
    height: 90vh;
    width: 75%;
    display: flex;
    align-items: center;
    box-shadow: 0em 0em 2em 0.1em #00000030;
}

.conteiner__message .message .no_encrypt, 
.conteiner__message .message .encrypt{  padding: 1rem; margin: 0 auto;  }

.conteiner__message 
.message .no_encrypt{ text-align: center;}

.conteiner__message 
.message .encrypt{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.conteiner__message 
.message .encrypt textarea{
    width: 100%;
    margin: 1rem auto;
    height: 100%;
    font-weight: 200;
    font-size: 1.3rem;
    box-sizing: border-box;
    resize: none;
    background: transparent;
    border: none;
    padding: 1rem;
}

.button__copy{ margin-bottom: 2.3rem;}

.conteiner__message 
.message .encrypt{
    display: none;
}

.bottom img{
    width: 16px;
    height: 16px;
}

.bottom small{
    display: flex;
    flex-direction: row;
    align-items: end;
    color: #495057;
    gap: 0.5rem;
} 

@media (max-width: 768px){
    .conteiner{
        flex-direction: column;
        min-width: 100vw;
    }
    .conteiner__logo{
        height: 10vh;
        padding-left: 1rem;
    }

    .conteiner__logo img{
        width: 1.5rem;
    }

    .conteiner__encrypt{padding-top: 0;}
    .conteiner__encrypt,
    .conteiner__message{width: 100vw;}
    .encrypt__message textarea{
        box-sizing: border-box;
        width: 100%;
        resize: none;
        background: transparent;
        font-size: 2rem;
        height: 60vh;
    }
    .conteiner__message{margin-top: 5vh;}
    .conteiner__message .message{
        height: 1%;
        margin-bottom: 5vh;
    }
    .conteiner__message 
    .message .encrypt{
        width: 100%;
        height: 30vh;
    }
    .button__copy {
        margin-bottom: 0.3rem;
    }

    .encrypt__message textarea{ height: 40vh;}
    .conteiner__message .no_encrypt{margin: 0 auto;}
    .no_encrypt img{ display: none; }
}

@media (max-width: 450px){
    .bottom .buttons{
        display: flex;
        flex-direction: column;
    }
}