html{
    box-sizing: border-box;
    background: #F3F5FC;
}

.conteiner{
    width: min(90%, 120rem);
    margin: 0 auto;
}

.header__logo{
    width: 6rem;
    padding-top: 2rem;
    text-align: center;
}
